@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#root {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  width: 100%;
  height: 100%;
}

body {
  background-image: url(./assets/9683039-my-attempt-at-making-the-rumbling-r.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.main-page {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.title-mainpage {
  font-size: 3.5rem;
  text-align: center;
  font-family: 'Gravitas One', serif;
  color: aliceblue;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 35%;
  padding-top: 5rem;
}

a {
  justify-content: space-around;
  color: white;
  font-size: 2rem;
}

.titan-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 100rem;
  justify-self: center;
  justify-content: space-evenly;
}

.score-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1vw;
}

.scores {
  color: #850101;
  font-size: 1.5rem;
  font-weight: bolder;
}

.title {
  background-image: url(./assets/logo.png);
  background-position: center;
  background-size: cover;
  height: 10rem;
  width: 20rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.popup {
  position: fixed;
  inset: 0px;
  width: 45rem;
  height: 30rem;
  margin: auto;
  border-radius: 1vw;
  background-color: rgba(255, 0, 0, 0.6);
  z-index: 5;
}

.content {
  color: white;
  position: relative;
  height: 100%;
  width: 100%;
}

#loser {
  width: 100%;
  height: 100%;
}

.status {
  text-align: center;
  font-size: 4rem;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#playagain {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.multimedia {
  display: flex;
  position: relative;
  align-self: flex-end;
  align-items: end;
  gap: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.audio,
.show-instructions {
  display: grid;
  justify-content: center;
  align-items: center;
  background: #850101;
  border-style: none;
  border-radius: 10vw;
  height: 5rem;
  width: 5rem;
  text-align: center;
}

.show-instructions {
  position: relative;
}

.bubble-guide {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.text-instruc {
  position: absolute;
  font-weight: bolder;
  font-size: 12px;
  bottom: -10%;
  left: 7%;
  transform: translate(-3%, -90%);
}

.controls {
  text-align: center;
}

.front,
.back {
  background: url(assets/rust.jpeg);
  height: 13rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backcardimg,
.titan-images {
  height: 90%;
  width: 90%;
}
