.titan-cards {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 100rem;
  justify-self: center;
}

.card {
  background: url(assets/rust.jpeg);
  padding: 1rem;
  border-radius: 0.3vw;
}

.score-container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1vw;
}

.scores {
  color: #850101;
  font-size: 2rem;
  font-weight: bolder;
}

.title {
  background-image: url(./assets/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 10rem;
  width: 27rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

.popup {
  position: fixed;
  inset: 0px;
  width: 45rem;
  height: 30rem;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  border-radius: 1vw;
  background-color: rgba(255, 0, 0, 0.6);
}

.content {
  color: white;
  position: relative;
  height: 100%;
  width: 100%;
}

#loser {
  width: 100%;
  height: 100%;
}

.status {
  font-size: 4rem;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#playagain {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.multimedia {
  display: flex;
  align-self: flex-end;
  gap: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.audio,
.show-instructions {
  display: grid;
  justify-content: center;
  align-items: center;
  background: #850101;
  border-style: none;
  border-radius: 10vw;
  height: 8rem;
  width: 8rem;
  text-align: center;
}

.bubble-guide {
  font-weight: bolder;
  position: absolute;
  top: 78%;
  left: 12%;
  transform: translate(-50%, -50%);
}

.text-instruc {
  position: absolute;
  top: 15%;
  left: 10%;
  transform: translate(-0%, -0%);
}

.titan-images {
  height: 10rem;
  width: 10rem;
}

.controls {
  text-align: center;
}
