html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#root {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  width: 100%;
  height: 100%;
}

body {
  background-image: url(./assets/9683039-my-attempt-at-making-the-rumbling-r.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
